.submissionsPageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/form-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 5vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
  }
}
