.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  .heroSection {
    position: relative;
    margin-top: 10em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 45vw;
    width: 82%;
    isolation: isolate;

    @media (max-width: 1000px) {
      margin-top: 8em;
      height: 70vw;
    }

    @media (max-width: 400px) {
      height: 30vh;
    }

    .heroTitle {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;

      @media (max-width: 1000px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: space-;
        .secondLine {
          display: flex;
          justify-content: center;
        }
        span {
          width: auto;
          font-size: 10vw;
          justify-content: flex-start;
          text-align: center;
          margin: 0;
        }
      }

      @media (max-width: 400px) {
        display: none;
      }
    }

    .lageos {
      position: absolute;
      left: 0;
      height: 100%;
      mix-blend-mode: hard-light;
      @media (max-width: 1000px) {
        display: none;
      }
    }

    .ufo {
      width: 80%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 80%;
      height: 70%;
      object-fit: cover;
      filter: brightness(0.6);
      @media (max-width: 1000px) {
        width: 100%;
        display: flex;
      }

      @media (max-width: 400px) {
        display: none;
      }
    }

    hgroup {
      display: none;

      @media (max-width: 400px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -15%;
        font-size: 13vw;
        line-height: 11vw;
        padding: 2rem 4rem;

        span {
          -webkit-text-stroke: 1px yellow;
          color: transparent;
        }
      }
    }

    h1 {
      display: flex;
      flex-direction: column;
      font-size: 7vw;
      text-align: right;
      line-height: 6vw;
      @media (max-width: 1000px) {
        line-height: 9vw;
        .stroke {
          -webkit-text-stroke: 1px yellow;
          color: transparent;
          padding-left: 1rem;
        }
      }

      .secondLine {
        display: flex;
        flex-direction: row;
        text-align: right;
        justify-content: flex-end;
      }
      .stroke {
        -webkit-text-stroke: 1px white;
        color: transparent;
        padding-left: 1rem;
      }
    }
  }
}

.aboutText {
  height: auto;

  .yellow {
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 1em 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
  }

  // a {
  //   color: yellow;
  // }

  // a:visited {
  //   color: yellow;
  // }

  p {
    padding: 8%;
    font-size: 1.2rem;
    height: auto;
    text-transform: uppercase;

    @media (max-width: 400px) {
      margin-top: -5rem;
      padding: 3.5rem;
    }
  }

  .poem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0 5em;
    font-weight: 100;

    p {
      margin: 0;
      padding: 0 1em;
      width: 40%;
      text-align: center;
      font-size: 0.9rem;

      .signature {
        margin-top: 2em;
        display: block;
        justify-content: flex-end;
        text-align: right;
      }

      @media (max-width: 950px) {
        transition: all 0.2s ease-in-out;
        padding: 4em;
        margin-right: 0;
        text-align: center;
        width: fit-content;
      }

      @media (max-width: 500px) {
        display: none;
      }
    }

    .disc1,
    .disc2,
    .disc3 {
      view-timeline-name: --image;
      view-timeline-axis: block;
      animation-timeline: --image;
      animation-name: show;
      animation-range: entry 25% cover 30%;
      animation-fill-mode: both;

      width: 15vw;
      height: auto;
      padding: 0;
      @media (max-width: 950px) {
        width: 15vw;
        height: auto;
        padding: 0;
      }
    }
    @media (max-width: 950px) {
      transition: all 0.2s ease-in-out;
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 500px) {
      display: none;
    }
  }

  .discMobile {
    display: none;
    width: 100%;

    @media (max-width: 500px) {
      display: block;
      margin-top: 1em;
      animation: rotate 10s linear infinite;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
