.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  font-size: clamp(4rem, 6rem, 8vw);
  color: transparent;
  -webkit-text-stroke: 1px white;
  animation: 20s slide infinite linear;
  margin: 3rem 0;
  @media (max-width: 1000px) {
    display: none;
  }
}

.marquee:hover {
  -webkit-text-stroke: 1px yellow;
  transition: ease-in-out 0.5s;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.ufoBreakpoint {
  width: 100%;
}
