.resourcesContainer {
  padding: 8%;

  @media (max-width: 1000px) {
    padding: 3.5rem;
  }
  .resourcesTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      transform: translateY(-2rem);
      font-size: 4.5em;
      text-transform: uppercase;
      -webkit-text-stroke: 1px white;
      color: transparent;

      @media (max-width: 1000px) {
        font-size: 3.5rem;
      }

      @media (max-width: 800px) {
        font-size: 3rem;
      }

      @media (max-width: 700px) {
        margin: 3rem 0 0 0;
        padding: 0;
        width: 100%;
        font-size: 3.5rem;
        text-align: center;
      }

      @media (max-width: 550px) {
        font-size: 3rem;
      }

      @media (max-width: 400px) {
        font-size: 2.4rem;
      }
    }

    h2::after {
      content: "resources";
      position: absolute;
      color: transparent;
      text-transform: uppercase;
      -webkit-text-stroke: 1px yellow;
      transform: translateX(-120%) translateY(2rem);

      @media (max-width: 700px) {
        transform: translateX(-100%) translateY(0.5em);
      }
    }

    img {
      width: 30vw;
      animation: shake 3s infinite;

      @media (max-width: 700px) {
        transition: all 1s ease-in-out;
        display: none;
      }
    }
  }
  p {
    background-color: transparent;
    padding: 4em 0 0 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    height: fit-content;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px) rotate(-1deg);
  }
  50% {
    transform: translateX(7px) rotate(1deg);
  }
  75% {
    transform: translateX(3px) rotate(-1deg);
  }
  100% {
    transform: translateX(0);
  }
}

.links {
  margin: 0;
  padding: 5em 0;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 25vw;
    height: fit-content;
    mix-blend-mode: difference;
  }

  ul {
    font-size: 1.2rem;

    .yellow {
      color: yellow;
      margin-right: 0.4em;
    }

    li {
      padding: 1em 0;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      transition: all 0.2s ease-in-out;
      color: yellow;
    }
  }
}

.final {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 3rem;
  .looking {
    text-transform: uppercase;
    -webkit-text-stroke: 1px yellow;
    color: transparent;
    margin-top: 3em;

    @media (max-width: 650px) {
      margin-top: 2em;
    }
  }
}

.sagan {
  all: unset;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 5rem;

  @media (max-width: 700px) {
    display: none;
  }
}

summary {
  text-transform: uppercase;
  font-size: 1.2rem;
}
summary::marker {
  color: yellow;
}

summary::-webkit-details-marker {
  color: yellow;
}
